<div class="section gradient-bg">
  <div class="watermark-white"><img src="/images/goat-marketing-nav-logo-white.png" alt=""></div>
  <div class="container f-white">
    <h1 class="slide-in"><b>GREATEST OF ALL TIME</b></h1>
    <div class="row">
      <div class="col-6 slide-in">
        <h3>Everything we create, we believe in the people who make it happen. Our team of experts focus on understanding our creators and our brands needs.</h3>
        <h3>Goat Marketing is a digital marketing agency that specializes in connecting brands to influencers.</h3>
        </h3>
      </div>
    </div>
  </div>
</div>

<%= erb :'layouts/team' %>
<%= erb :'layouts/contact_form' %>
