<div class="section gradient-bg">
  <div class="container f-white">
    <div class="row">
      <h1>Our Brands</h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Umber & Co</h3>
        <p>All the copuy about this company woudl go here</p>
      </div>
      <div class="col-6">
        <h3>Robust</h3>
        <p>All the copuy about this company woudl go here</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>Umber & Co</h3>
        <p>All the copuy about this company woudl go here</p>
      </div>
      <div class="col-6">
        <h3>Robust</h3>
        <p>All the copuy about this company woudl go here</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>Umber & Co</h3>
        <p>All the copuy about this company woudl go here</p>
      </div>
      <div class="col-6">
        <h3>Robust</h3>
        <p>All the copuy about this company woudl go here</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2>BRANDS</h2>
        <p>WSe help brands harness the power of our creators' voices. How can we help you?</p>
      </div>
      <div class="col-4">
        <div class="btn center">Send Request</div>
      </div>
    </div>
  </div>
</div>
