<div class="section gradient-bg">
  <div class="container f-white pop-in">
    <h1>Contact Us</h1>
    <div class="row center">
      <div class="col-4">
        <div class="btn white">Brands</div>
      </div>
      <div class="col-4">
        <div class="btn white">Creators</div>
      </div>
      <div class="col-4">
        <div class="btn white">Other</div>
      </div>
    </div>
  </div>
</div>

<%= erb :'layouts/contact_form' %>
