<style media="screen">
  .video-container {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
</style>

<div class="video-container">
  <div class="row center f-white hero-text">
    <div class="container left slide-in">
      <h1>OUR COMMUNITY</h1>
      <h2>Influencing over 700 million people with the power of social media</h2>
    </div>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-creators-hero.mp4" autoplay loop></video>
</div>

<div class="barrier"></div>
<%= erb :'layouts/creators_collage' %>

<div class="section gradient-bg">
  <div class="container f-white slide-in">
    <div class="row">
      <h2>CREATORS</h2>
      <div class="col-8">
        <p>Helping creators turn their passion into a career. Apply now to become a part of the community!</p>
      </div>
      <div class="col-4">
        <div class="btn white center">Apply Now</div>
      </div>
    </div>
  </div>
</div>
