<style media="screen">
  .profile-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .profile-pic img {
    width: 200px;
    height: auto;
  }
</style>

<div class="section gradient-bg">
  <div class="container f-white">
    <div class="row center">
      <h1>Creators</h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-3 center">
        <h3>Joseph Saladino</h3>
        <div class="profile-pic">
          <img class="pop-in" src="/images/goat-marketing-joey-salads.jpg" alt="">
        </div>
        <p>Chief Sales Officer</p>
      </div>

      <div class="col-3 center">
        <h3>Joseph Saladino</h3>
        <div class="profile-pic">
          <img class="pop-in" src="/images/goat-marketing-joey-salads.jpg" alt="">
        </div>
        <p>Chief Sales Officer</p>
      </div>

      <div class="col-3 center">
        <h3>Joseph Saladino</h3>
        <div class="profile-pic">
          <img class="pop-in" src="/images/goat-marketing-joey-salads.jpg" alt="">
        </div>
        <p>Chief Sales Officer</p>
      </div>

      <div class="col-3 center">
        <h3>Joseph Saladino</h3>
        <div class="profile-pic">
          <img class="pop-in" src="/images/goat-marketing-joey-salads.jpg" alt="">
        </div>
        <p>Chief Sales Officer</p>
      </div>
    </div>
  </div>
</div>
