<style media="screen">
  .video-container {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .barrier {
    height: 400px;
  }
  .buffer {
    margin-top: 80px;
  }
  .col-6 {
    border-bottom: 1px solid gray;
    padding: 15px;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .profile-pic img {
    width: 200px;
    height: auto;
  }
</style>

<div class="video-container">
  <div class="row center f-white hero-text">
    <div class="container left">
      <!-- <h1 class="buffer"><b>CREATORS</b></h1> -->
      <h1 class=""><b>TURN YOUR DAY DREAM<br />INTO YOUR DREAM JOB</b></h1>
    </div>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-creators-hero.mp4" autoplay loop></video>
</div>

<div class="section gradient-bg">
  <div class="container f-white">
    <div class="row center">
      <h1>Creators</h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-3 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-chris-distefano.jpg" alt="">
        </div>
      </div>

      <div class="col-3 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-affaf-buslach.jpg" alt="">
        </div>
      </div>

      <div class="col-3 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-joey-salads.jpg" alt="">
        </div>
      </div>

      <div class="col-3 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-big-nik.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="section gradient-bg">
  <div class="container f-white">
    <div class="row">
      <div class="col-8">
        <h2>CREATORS</h2>
        <p>We help creators monetize their content. Talk to us today.</p>
      </div>
      <div class="col-4">
        <div class="btn white center">Send Request</div>
      </div>
    </div>
  </div>
</div>
