<style media="screen">
  .video-container {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .barrier {
    height: 400px;
  }
  .buffer {
    margin-top: 80px;
  }
  .col-6 {
    border-bottom: 1px solid gray;
    padding: 15px;
  }
  .profile-pic {
    display: inline-block;
    width: 25%;
    height: auto;
    overflow: hidden;
    border-radius: 0px !important;
  }
  .profile-pic img {
    width: 300px;
    height: auto;
    margin: 0 auto;
  	display: block;
  }
</style>

<div class="video-container">
  <div class="row center f-white hero-text">
    <div class="container left slide-in">
      <h1><b>OUR COMMUNITY</b></h1>
      <h2>Influencing over 700 million people with the power of social media</h2>
    </div>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-creators-hero.mp4" autoplay loop></video>
</div>

<div class="section gradient-bg">
  <div class="container f-white">
    <div class="row center">
      <h1>Creators</h1>
    </div>
  </div>
</div>

<style media="screen">
  .temp {
    display: inline-block;
    overflow: hidden;
    width: 24vw;
  }
  .temp img {
    width: 25vw;
    height: 25vw;
  }
</style>

<div class="section">
  <div class="temp">
    <img src="/images/goat-marketing-chris-distefano.jpg" alt="">
  </div>
  <div class="temp">
    <img src="/images/goat-marketing-affaf-buslach.jpg" alt="">
  </div>
  <div class="temp">
    <img src="/images/goat-marketing-joey-salads.jpg" alt="">
  </div>
  <div class="temp">
    <img src="/images/goat-marketing-big-nik.jpg" alt="">
  </div>
</div>

<div class="section gradient-bg">
  <div class="container f-white">
    <div class="row">
      <h2>CREATORS</h2>
      <div class="col-8">
        <p>Helping creators turn their passion into a career. Apply now to become a part of the community!</p>
      </div>
      <div class="col-4">
        <div class="btn white center">Apply Now</div>
      </div>
    </div>
  </div>
</div>
