<style media="screen">
  a {
    color: blue;
  }
</style>

<div class="section">
  <div class="container center">
    <h2>Something went wrong 🤮</h2>
    <h3>Go back to the <a href="/">home page</a>.</h3>
  </div>
</div>
