<style media="screen">
.hero-text {
  z-index: 3;
  top: 15%;
}
#hero-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}
.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}
.video-container .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: var(--blue);
    opacity: 0.5;
}
.barrier {
  height: 100%;
}
</style>

<div class="video-container slanted">
  <div class="row center f-white hero-text">
    <h1>Connecting Brands<br /> to Influencers</h1>
  </div>
  <div class="row center hero-text">
    <div class="col-3"></div>
    <div class="col-3 pop-in">
      <div class="btn white">I'M AN INFLUENCER</div>
    </div>
    <div class="col-3 pop-in">
      <div class="btn">I'M A BRAND</div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-hero-video.mp4" autoplay loop></video>
</div>

<div class="barrier"></div>

<%= erb :'layouts/stats' %>
<%#= erb :'layouts/brands' %>
<%#= erb :'layouts/influencers' %>
