<style media="screen">
  #hero-video {
    bottom: -350px;
  }
  .video-container {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .barrier {
    height: 400px;
  }
  .box {
    border: 2px solid gray;
  }
</style>

<div class="video-container">
  <div class="row center f-white hero-text">
    <div class="container left">
      <h1><b>SERVICES</b></h1>
      <h2>Helping brands skyrocket with our creators’ voices.</h2>
    </div>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-services-hero.mp4" autoplay loop></video>
</div>

<div class="barrier"></div>

<div class="section">
  <div class="container">
    <div class="row center">
      <div class="col-6 box">
        <h3>Sponsored Content</h3>
        <img src="/images/goat-marketing-sponsored-content.jpg" alt="" height="250px">
      </div>
      <div class="col-6 box">
        <h3>Custom Research</h3>
        <img src="/images/goat-marketing-custom-research.jpeg" alt="" height="250px">
      </div>
    </div>
    <div class="row center">
      <div class="col-6 box">
        <h3>Dedidacted Agent Support</h3>
        <img src="/images/goat-marketing-dedicated-agent.jpeg" alt="" height="250px">
      </div>
      <div class="col-6 box">
        <h3>Channel Management</h3>
        <img src="/images/goat-marketing-channel-management.jpeg" alt="" height="250px">
      </div>
    </div>
  </div>
</div>
