<style media="screen">
  #hero-video {
    bottom: -350px;
  }
  .video-container {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .barrier {
    height: 400px;
  }
</style>

<div class="video-container">
  <div class="row center f-white hero-text">
    <div class="container left">
      <h1><b>SERVICES</b></h1>
      <h2>Helping brands skyrocket with our creators’ voices.</h2>
    </div>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-services-hero.mp4" autoplay loop></video>
</div>

<div class="barrier"></div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="/images/goat-marketing-sponsored-content.jpg" alt="" height="250px">
      </div>
      <div class="col-6">
        <h3>Sponsored Content</h3>
        <p>We are experts in connecting creators to brands they use and like. We develop custom campaigns that focus on strategy and tactics to deliver high measurable results for our brand partners.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h3>Custom Research</h3>
        <p>Unique research which is tailored and optimized for our customers' specific needs. To better understand trends and what is functional.</p>
      </div>
      <div class="col-6">
        <img src="/images/goat-marketing-custom-research.jpeg" alt="" height="250px">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <img src="/images/goat-marketing-dedicated-agent.jpeg" alt="" height="250px">
      </div>
      <div class="col-6">
        <h3>Dedicated Agent Support</h3>
        <p>Have someone guide you through your influencer journey.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h3>Channel Management</h3>
        <p>Goat Marketing has a nerd of social media and marketing experts with a complete suite of tools that work automatically and effectively to get you ahead of the pack.</p>
      </div>
      <div class="col-6">
        <img src="/images/goat-marketing-channel-management.jpeg" alt="" height="250px">
      </div>
    </div>

  </div>
</div>
