<style media="screen">
  .box {
    border: 2px solid gray;
  }
</style>

<div class="section gradient-bg">
  <div class="container f-white">
    <h1>Services</h1>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row center">
      <div class="col-6 box">
        <h3>Sponsored Content</h3>
        <img src="/images/goat-marketing-sponsored-content.jpg" alt="" height="250px">
      </div>
      <div class="col-6 box">
        <h3>Custom Research</h3>
        <img src="/images/goat-marketing-custom-research.jpeg" alt="" height="250px">
      </div>
    </div>
    <div class="row center">
      <div class="col-6 box">
        <h3>Dedidacted Agent Support</h3>
        <img src="/images/goat-marketing-dedicated-agent.jpeg" alt="" height="250px">
      </div>
      <div class="col-6 box">
        <h3>Channel Management</h3>
        <img src="/images/goat-marketing-channel-management.jpeg" alt="" height="250px">
      </div>
    </div>
  </div>
</div>
