<style media="screen">
  .brand-image-container {
    padding: 15px;
    display: inline-block;
  }
  .brand-image-container img {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  }
</style>

<div id="brands" class="section">
  <div class="container">
    <div class="row left slide-in">
      <h1>FOR BRANDS</h1>
    </div>
    <div class="row">
      <div class="brand-image-container">
        <img src="/images/goat-marketing-coca-cola.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-mcdonalds.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-marriott.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-att.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-adidas.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-proctor-gamble.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-bmw.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-sony.png" alt="" height="150px;">
      </div>
      <div class="brand-image-container">
        <img src="/images/goat-marketing-fashionnova.png" alt="" height="150px;">
      </div>
    </div>
  </div>
</div>
