<div id="brands-modal" class="modal">
  <div class="container">
    <div class="close-modal">X</div>
    <div class="row">
      <form class="" action="index.html" method="post">
        <p><input class="text-box" type="text" name="" placeholder="First & Last Name" value=""></p>
        <p><input class="text-box" type="text" name="" placeholder="Email Address" value=""></p>
        <p><input class="text-box" type="text" name="" placeholder="Company" value=""></p>
        <p><textarea class="text-box" type="text" name="message" placeholder="Message"></textarea></p>
        <p><input class="btn" type="submit" name="" value="Send"></p>
      </form>
    </div>
  </div>
</div>
