<div id="brands-modal" class="modal">
  <div class="container">
    <div class="close-modal">X</div>
    <div class="row">
      <form class="" action="/brands" method="post">
        <p><input class="text-box" type="text" name="full_name" placeholder="First & Last Name" value=""></p>
        <p><input class="text-box" type="text" name="email_address" placeholder="Email Address" value=""></p>
        <p><input class="text-box" type="text" name="company" placeholder="Company" value=""></p>
        <p><textarea class="text-box" type="text" name="message" placeholder="Message"></textarea></p>
        <p><input class="btn" type="submit" name="" value="Send"></p>
      </form>
    </div>
  </div>
</div>
