<div class="section slide-in">
  <div class="container">
    <h1>Contact Us</h1>
    <div class="row">
      <form class="" action="index.html" method="post">
        <p><input class="text-box" type="text" name="" placeholder="Full Name" value=""></p>
        <p><input class="text-box" type="text" name="" placeholder="Email Address" value=""></p>
        <p><input class="text-box" type="text" name="" placeholder="Subject" value=""></p>
        <p><input class="text-box" type="text" name="" placeholder="Message" value=""></p>
        <p><input type="submit" name="" value="Send"></p>
      </form>
    </div>
  </div>
</div>
