 <style media="screen">
   .barrier {
     height: auto;
   }
   .collage-row {
     width: 100vw;
   }
   .collage-image {
     display: inline-block;
     float: left;
     height: 24vw;
   }
   .collage-image img {
     width: 25vw;
   }
 </style>

<div class="collage-row">
  <div class="collage-image">
    <img src="/images/goat-marketing-chris-distefano.jpg" alt="">
  </div>
  <div class="collage-image">
    <img src="/images/goat-marketing-affaf-buslach.jpg" alt="">
  </div>
  <div class="collage-image">
    <img src="/images/goat-marketing-joey-salads.jpg" alt="">
  </div>
  <div class="collage-image">
    <img src="/images/goat-marketing-big-nik.jpg" alt="">
  </div>
</div>

<div class="collage-row">
  <div class="collage-image">
    <img src="/images/goat-marketing-chris-distefano.jpg" alt="">
  </div>
  <div class="collage-image">
    <img src="/images/goat-marketing-affaf-buslach.jpg" alt="">
  </div>
  <div class="collage-image">
    <img src="/images/goat-marketing-joey-salads.jpg" alt="">
  </div>
  <div class="collage-image">
    <img src="/images/goat-marketing-big-nik.jpg" alt="">
  </div>
</div>
