 <style media="screen">
   /* STYLE COLLAGE */
   .barrier {
     height: auto;
   }
   .collage-row {
     width: 1080px;
     float: left;
     margin-top: -5px;
   }
   .collage-image {
     display: inline-block;
     float: left;
   }
   /* FIGURE IMAGE WIDTH */
   .collage-image img {
     width: calc(90vw / 4);
   }
   @media only screen and (min-width: 33.75em) {  /* 540px */
     .collage-image img {
       width: calc(80vw / 4);
     }
   }
   @media only screen and (min-width: 60em) { /* 960px */
     .collage-image img {
       width: calc(75vw / 4);
     }
   }
   @media only screen and (min-width: 1280px) { /* 1280px */
     .collage-image img {
       width: calc(70vw / 4);
     }
   }
   @media only screen and (min-width: 1370px) { /* 1370px */
     .collage-image img {
       width: calc(65vw / 4);
     }
   }
   @media only screen and (min-width: 1470px) { /* 1370px */
     .collage-image img {
       width: calc(60vw / 4);
     }
   }
   @media only screen and (min-width: 1570px) { /* 1370px */
     .collage-image img {
       width: calc(55vw / 4);
     }
   }
   @media only screen and (min-width: 1670px) { /* 1370px */
     .collage-image img {
       width: calc(50vw / 4);
     }
   }

   /* IMAGE HOVER EFFECT */
   .collage-image {
     position: relative;
     margin: auto;
     overflow: hidden;
   }
   .collage-image .content-overlay {
     background: rgba(0,0,0,0.7);
     position: absolute;
     height: 99%;
     width: 100%;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     opacity: 0;
     -webkit-transition: all 0.4s ease-in-out 0s;
     -moz-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s;
   }
   .collage-image:hover .content-overlay{
     opacity: 1;
   }
   .content-image{
     width: 100%;
   }
   .content-details {
     position: absolute;
     text-align: center;
     padding-left: 1em;
     padding-right: 1em;
     width: 100%;
     top: 50%;
     left: 50%;
     opacity: 0;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
   }
   .collage-image:hover .content-details{
     top: 50%;
     left: 50%;
     opacity: 1;
   }
   .content-details h3{
     color: #fff;
     font-weight: 500;
     letter-spacing: 0.15em;
     margin-bottom: 0.5em;
     text-transform: uppercase;
   }
   .content-details p{
     color: #fff;
     font-size: 0.8em;
   }
   .fadeIn-bottom{
     top: 80%;
   }
 </style>

<div class="collage-row slide-in">
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-chris-distefano.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Chris DiStefano</h3>
    </div>
  </div>
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-affaf-buslach.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Affaf Buslach</h3>
    </div>
  </div>
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-ray-diaz.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Ray Diaz</h3>
    </div>
  </div>
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-big-nik.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Big Nik</h3>
    </div>
  </div>
</div>

<div class="collage-row slide-in">
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-codee-yount.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Codee Yount</h3>
    </div>
  </div>
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-carlos-loaiza.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Carlos Loaiza</h3>
    </div>
  </div>
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-mikey-manfs.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Mikey Manfs</h3>
    </div>
  </div>
  <div class="collage-image">
    <div class="content-overlay"></div>
    <img class="content-image" src="/images/goat-marketing-denzel-dion.jpg" alt="">
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Denzel Dion</h3>
    </div>
  </div>
</div>
