<div id="contact" class="section black">
  <div class="watermark-white"><img src="/images/goat-marketing-nav-logo-white.png" alt=""></div>
  <div class="container f-white slide-in">
    <div class="row">
      <div class="dash"></div>
      <h1 class="dash-title">CONTACT US</h1>
    </div>
    <div class="row">
      <div class="col-6">
          <form action="/" method="post" class="well">
            <p><input class="text-box" type="text" name="name" placeholder="Full Name"></p>
            <p><input class="text-box" type="text" name="email" placeholder="Email Address"></p>
            <p><textarea class="text-box" type="text" name="message" placeholder="Message"></textarea></p>
            <p><button type="submit" class="btn" value="Send">SEND</button></p>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="legal">
  Copyright © 2018 Goat Marketing LLC. All Rights Reserved.
</div>
