<div id="contact" class="section black">
  <div class="container f-white slide-in">
    <div class="row">
      <div class="dash"></div>
      <h1 class="dash-title">CONTACT US</h1>
      <div class="col-8">
        <p>Great marketing services for great brands. Let us help you!</p>
      </div>
      <div class="col-4">
        <form class="">
          <p><input class="text-box" type="text" name="" value=""></p>
          <div class="btn white center">Send Request</div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="legal">
  Copyright © 2018 Goat Marketing LLC. All Rights Reserved.
</div>
