<div id="contact" class="section black">
  <div class="watermark-white"><img src="/images/goat-marketing-nav-logo-white.png" alt=""></div>
  <div class="container f-white slide-in">
    <div class="row">
      <div class="dash"></div>
      <h1 class="dash-title">CONTACT US</h1>
    </div>
    <div class="row">
      <div class="col-6">
          <form class="" action="index.html" method="post">
            <p><input class="text-box" type="text" name="" value="" placeholder="Full Name"></p>
            <p><input class="text-box" type="text" name="" value="" placeholder="Email Address"></p>
            <p><textarea class="text-box" type="text" name="" value="" placeholder="Message"></textarea></p>
            <p><div class="btn center">SEND</div></p>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="legal">
  Copyright © 2018 Goat Marketing LLC. All Rights Reserved.
</div>
