<div id="hero" class="video-container">
  <div class="row center f-white hero-text">
    <h1 class="slide-in" style="margin-top:-25px">CONNECTING BRANDS<br /> & CREATORS</h1>
  </div>
  <div class="row center hero-text">
    <div class="col-3"></div>
    <div class="col-3">
      <div class="btn white slide-in">I'M A CREATOR</div>
    </div>
    <div class="col-3">
      <div class="btn holo slide-in">I'M A BRAND</div>
    </div>
    <div class="col-3"></div>
    <%= erb :'layouts/stats' %>
  </div>
  <div class="overlay"></div>
  <video id='hero-video' src="/videos/goat-marketing-creators-hero.mp4" autoplay loop></video>
</div>
<div class="barrier"></div>
