<!-- Mobile Nav Menu -->
<div class="m-nav-container">
  <input id="toggle" type="checkbox">
  <label class="toggle-container" for="toggle"><span class="button button-toggle"></span></label>
  <div class="m-nav-title">GOAT</div>
  <div class="mobile-nav-bar">
    <a class="nav-item" href="/about">About</a>
    <a class="nav-item" anchor="/services" href="/">Services</a>
    <a class="nav-item" href="/community">Community</a>
    <a class="nav-item" anchor="" href="/faq">FAQ</a>
  </div>
</div>

<!-- Desktop Nav Menu -->
<div class="navbar nav-start">
  <div class="row">
    <div class="col-2"></div>
    <div class="logo col-2">
      <a class="nav-logo-link" href="/" anchor="#hero">
        <img src="/images/goat-marketing-nav-logo.png" alt="" width="50px" height="50px">
      </a>
    </div>
    <div class="col-2">
      <a href="/about">About</a>
    </div>
    <div class="col-2">
      <a href="/" anchor="/services">Services</a>
    </div>
    <div class="col-2">
      <a href="/community">Community</a>
    </div>
    <div class="col-2">
      <a href="/faq" anchor="">FAQ</a>
    </div>
  </div>
</div>
