<div id="creators" class="section">
  <div class="container">
    <div class="row left slide-in">
      <div class="dash"></div>
      <h1 class="dash-title">OUR CREATORS</h1>
    </div>
    <%#= erb :'layouts/creators_collage' %>
  </div>
</div>
