<style media="screen">
  .icon-container {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  .icon-container img {
    position: absolute;
    height: 50px;
    top: 45px;
    margin-left: -20px;
  }
</style>

<div id="creators" class="section">
  <div class="container ">
    <div class="row left slide-in">
      <div class="dash"></div>
      <h1 class="dash-title">OUR SERVICES</h1>
    </div>

    <div class="row center">
      <div class="col-4">
        <div class="icon-container center gradient-bg"><img src="/images/goat-marketing-sponsored-content-icon.svg" alt=""></div>
        <h3>SPONSORED CONTENT</h3>
        <p class="left">We are experts in connecting creators to brands they use and like. We develop custom campaigns that focus on strategy and tactics to deliver high measurable results for our brand partners.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg"><img src="/images/goat-marketing-research-icon.svg" alt=""></div>
        <h3>CUSTOM RESEARCH</h3>
        <p class="left">Unique research which is tailored and optimized for our customers' specific needs. To better understand trends and what is functional.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg"><img src="/images/goat-marketing-production-icon.svg" alt="" style="margin-left: -25px;"></div>
        <h3>PRODUCTION</h3>
        <p class="left">Videographers, photographers etc etc etc</p>
      </div>
    </div>

    <div class="row center">
      <div class="col-4">
        <div class="icon-container center gradient-bg"><img src="/images/goat-marketing-dedicated-agent-icon.svg" alt=""></div>
        <h3>DEDICATED AGENT SUPPORT</h3>
        <p class="left">Dedicated customer service that provides you distinguished support. Together, we'll choose skilled agents who will guide you through this journey with your core branding values.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg"><img src="/images/goat-marketing-channel-management-icon.svg" alt="" style="margin-left: -25px;"></div>
        <h3>CHANNEL MANAGEMENT</h3>
        <p class="left">Goat Marketing has a nerd of social media and marketing experts with a complete suite of tools that work automatically and effectively to get you ahead of the pack.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg"><img src="/images/goat-marketing-networking-icon.svg" alt=""></div>
        <h3>NETWORKING EVENTS</h3>
        <p class="left">Party party party Party party party Party party party Party party party Party party party Party party party Party party party </p>
      </div>
    </div>

  </div>
</div>
