<style media="screen">
  .icon-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .icon-container img {
    position: absolute;
    height: 50px;
    top: 27px;
    margin-left: -23px;
  }
</style>

<div id="services" class="section">
  <div class="container ">
    <div class="row left slide-in">
      <div class="dash"></div>
      <h1 class="dash-title slide-in">OUR SERVICES</h1>
    </div>

    <div class="row center">
      <div class="col-4">
        <div class="icon-container center gradient-bg pop-in"><img src="/images/goat-marketing-sponsored-content-icon.svg" alt="" style="margin-left: -20px; margin-top:-2px;"></div>
        <h4 class="slide-in bold">SPONSORED CONTENT</h4>
        <p class="left slide-in">We develop custom campaigns that focus on strategy and tactics to deliver high measurable results for our brand partners.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg pop-in"><img src="/images/goat-marketing-research-icon.svg" alt=""></div>
        <h4 class="slide-in bold">CUSTOM RESEARCH</h4>
        <p class="left slide-in">Unique research which is tailored and optimized for our customers' specific needs. To better understand trends and what is functional.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg pop-in"><img src="/images/goat-marketing-production-icon.svg" alt="" style="margin-left: -25px;"></div>
        <h4 class="slide-in bold">PRODUCTION</h4>
        <p class="left slide-in">We focus on developing quality content with the people who make it happen.
      </div>
    </div>

    <div class="row center">
      <div class="col-4">
        <div class="icon-container center gradient-bg pop-in"><img src="/images/goat-marketing-dedicated-agent-icon.svg" alt=""></div>
        <h4 class="slide-in bold">DEDICATED AGENT SUPPORT</h4>
        <p class="left slide-in">Together, we'll choose skilled agents who will guide you through this journey with your core branding values.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg pop-in"><img src="/images/goat-marketing-channel-management-icon.svg" alt="" style="margin-left: -27px;"></div>
        <h4 class="slide-in bold">CHANNEL MANAGEMENT</h4>
        <p class="left slide-in">Goat Marketing has a herd of social media and marketing experts.</p>
      </div>
      <div class="col-4">
        <div class="icon-container center gradient-bg pop-in"><img src="/images/goat-marketing-networking-icon.svg" alt=""></div>
        <h4 class="slide-in bold">NETWORKING EVENTS</h4>
        <p class="left slide-in">Networking couldn't get any easier. Exclusive Goat Marketing dinners, parties and events.</p>
      </div>
    </div>

  </div>
</div>
