<div id="creators" class="section black">
  <div class="container f-white">
    <div class="row left slide-in">
      <div class="dash"></div>
      <h1 class="dash-title">OUR CREATORS</h1>
    </div>
    <%= erb :'layouts/creators_collage' %>
  </div>
</div>
