<style media="screen">
@-moz-keyframes fill {
  0% {
    height: 0%;
  }
  60% {
    height: 110%;
  }
  70% {
    height: 95%;
  }
  80% {
    height: 105%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes fill {
  0% {
    height: 0%;
  }
  60% {
    height: 110%;
  }
  70% {
    height: 95%;
  }
  80% {
    height: 105%;
  }
  100% {
    height: 100%;
  }
}
@keyframes fill {
  0% {
    height: 0%;
  }
  60% {
    height: 110%;
  }
  70% {
    height: 95%;
  }
  80% {
    height: 105%;
  }
  100% {
    height: 100%;
  }
}
.box {
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  display: inline-block;
}
.box .container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 25px 0 0 0;
}
.box .fill {
  z-index: 2;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.box .fill.speed1 {
  -moz-animation: fill 1s ease-out;
  -webkit-animation: fill 1s ease-out;
  animation: fill 1s ease-out;
}
.box .fill.speed2 {
  -moz-animation: fill 1.1s ease-out;
  -webkit-animation: fill 1.1s ease-out;
  animation: fill 1.1s ease-out;
}
.box .fill.speed3 {
  -moz-animation: fill 1.2s ease-out;
  -webkit-animation: fill 1.2s ease-out;
  animation: fill 1.2s ease-out;
}
.box .fill.speed4 {
  -moz-animation: fill 1.3s ease-out;
  -webkit-animation: fill 1.3s ease-out;
  animation: fill 1.3s ease-out;
}
.box .sub-title {
  font-weight: bold;
  padding-left: 15px;
  letter-spacing: 2px;
}
.number, .number-container {
  font-weight: bold;
}
#stat-section {
  z-index: 5;
}
</style>


<div class="container" style="padding-top:155px;">
  <div class="row center" id="stat-section">

    <div class="col-3">
      <div class="box">
        <div class="container">
        <div class="number-container">
           <span class="number">700</span>M<br />
        </div>
          <!-- <img class="box-icon pop-in" src="/images/goat-marketing-global-reach.svg" alt="" height="50px;"> -->
          <h3 class="sub-title left">GLOBAL <br/>REACH</h3>
        </div>
        <div class="fill speed1" style="background : #92bafb "></div>
      </div>
    </div>

    <div class="col-3">
      <div class="box">
        <div class="container">
        <div class="number-container">
           <span class="number">2</span>B<br />
        </div>
          <!-- <img class="box-icon pop-in" src="/images/goat-marketing-eyeballs.svg" alt="" height="50px;"> -->
          <h3 class="sub-title left">MONTHLY <br/>VIEWS</h3>
        </div>
        <div class="fill speed2" style="background : #9b92fb"></div>
      </div>
    </div>

    <div class="col-3">
      <div class="box">
        <div class="container">
          <div class="number-container">
             $<span class="number">25</span>M<br />
          </div>
          <!-- <img class="box-icon pop-in" src="/images/goat-marketing-brand-dollars.svg" alt="" height="50px;"> -->
          <h3 class="sub-title left">BRAND <br/>DOLLARS</h3>
        </div>
        <div class="fill speed3" style="background : #81c784"></div>
      </div>
    </div>

    <div class="col-3">
      <div class="box">
        <div class="container">
        <div class="number-container">
           <span class="number">174</span><br />
        </div>
          <!-- <img class="box-icon pop-in" src="/images/goat-marketing-happy-customers.svg" alt="" height="50px;"> -->
          <h3 class="sub-title left">HAPPY <br /> CLIENTS</h3>
        </div>
        <div class="fill speed4" style="background : #f69679"></div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  // Increment numbners in boxes
  function increment(){
    $('.box').hide();
    setTimeout(function(){
      $('.box').show();
    },100);

    $('.number').each(function(){
      var $this = $(this),
          value = $this.text();
      $({someValue: 0}).animate({someValue: value}, {
        duration: 1200,
        easing:'swing',
        step: function() {
          $this.text(Math.round(this.someValue));
        },
        complete: function() {
          $this.text(value);
        }
      });
    });
  } increment();
</script>
