<div id="creators-modal" class="modal">
  <div class="container">
    <div class="close-modal">X</div>
    <div class="row">
      <form class="" action="/creators" method="post">
        <p><input class="text-box" type="text" name="full_name" placeholder="Full Name" value=""></p>
        <p><input class="text-box" type="text" name="email_address" placeholder="Email Address" value=""></p>
        <p><input class="text-box" type="text" name="instagram" placeholder="@Instagram" value=""></p>
        <p><input class="text-box" type="text" name="twitter" placeholder="@twitter" value=""></p>
        <p><input class="text-box" type="text" name="youtube" placeholder="/YoutubeChannel" value=""></p>
        <p><input class="btn" type="submit" name="" value="Apply"></p>
      </form>
    </div>
  </div>
</div>
