<div class="section gradient-bg">
  <div class="container f-white">
    <div class="dash white"></div>
    <h1 class="dash-title">THE TEAM</h1>
    <div class="row center slide-in">

      <div class="col-4 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-diego-vargas.jpg" alt="">
        </div>
      </div>

      <div class="col-4 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-conner-wilson.jpg" alt="">
        </div>
      </div>

      <div class="col-4 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-james-calhoun.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="row center slide-in">
      <div class="col-4">
        <h2 class="bold">Diego Vargas</h2 class="bold">
        <h3>Chief Executive Officer</h3>
      </div>
      <div class="col-4">
        <h2 class="bold">Conner Wilson</h2 class="bold">
        <h3>Chief Marketing Officer</h3>
      </div>
      <div class="col-4">
        <h2 class="bold">James Calhoun</h2 class="bold">
        <h3>Chief Operating Officer</h3>
      </div>
    </div>

  </div>
</div>
