<div class="section">
  <div class="container">
    <h2 class="slide-in">The Team</h2>
    <div class="row center slide-in">

      <div class="col-4 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-diego-vargas.jpg" alt="">
        </div>
      </div>

      <div class="col-4 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-conner-wilson.jpg" alt="">
        </div>
      </div>

      <div class="col-4 center">
        <div class="profile-pic pop-in">
          <img src="/images/goat-marketing-james-calhoun.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="row center slide-in">
      <div class="col-4">
        <h3>Diego Vargas</h3>
        <p>Chief Executive Officer</p>
      </div>
      <div class="col-4">
        <h3>Conner Wilson</h3>
        <p>Chief Marketing Officer</p>
      </div>
      <div class="col-4">
        <h3>James Calhoun</h3>
        <p>Chief Operating Officer</p>
      </div>
    </div>

  </div>
</div>
